@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 10, 10, 10;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.body-bg {

  background: rgb(0,25,217);
  background: linear-gradient(125deg, rgba(0,25,217,1) 0%, rgba(0,0,0,1) 15%, rgba(0,0,0,1) 85%, rgba(142,0,200,1) 100%);

}

.release-card-bg {

  background: rgb(0,12,105);
  background: linear-gradient(-130deg, rgba(0,12,105,1) 0%, rgba(0,0,0,1) 25%, rgba(0,0,0,1) 50%, rgba(0,0,0,1) 75%, rgba(83,0,117,1) 100%);

}

.timeline-header-bg-odd {

  background: rgb(0,12,105);
  background: linear-gradient(-170deg, rgba(0,12,105,1) 0%, rgba(0,0,0,1) 20%);

}

.timeline-header-bg-even {

  
  background: rgb(83,0,117,);
  background: linear-gradient(-170deg, rgba(83,0,117,1) 0%, rgba(0,0,0,1) 20%);

}

.h-100v {
  height: 100vh !important;
}

.w-100v {
  width: 100vw !important;
}

.fit-content-width {
  width: fit-content;
}

.fit-content-height {
  height: fit-content;
}

.overflow-x-auto {
  overflow-x: auto;
}

.overflow-x-hidden {
  overflow-x: hidden;
}

.overflow-x-scroll {
  overflow-x: scroll;
}

.overflow-y-auto {
  overflow-y: auto;
}

.overflow-y-hidden {
  overflow-y: hidden;
}

.overflow-y-scroll {
  overflow-y: scroll;
}


.progress-bar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 10px;
  background: var(--red);
  transform-origin: 0%;
}



.progress {
  position: sticky;
  top: 0;
  width: 80px;
  height: 80px;
  margin: 0;
  padding: 0;
}

.progress svg {
  transform: translateX(-100px) rotate(-90deg);
}

circle {
  stroke-dashoffset: 0;
  stroke-width: 5%;
  fill: none;
}

.bg {
  stroke: var(--accent);
  opacity: 0.2;
}

.progress .indicator {
  stroke: var(--accent);
}

::-webkit-scrollbar {
  height: 12px;
  width: 5px;
  background: var(--background);
}

::-webkit-scrollbar-thumb {
  background: var(--accent);
  -webkit-border-radius: 1ex;
}

::-webkit-scrollbar-corner {
  background: var(--background);
}

.section {
  height: 10vh;
  display: flex;
  align-items: center;
}

.section div {
  width: 200px;
  height: 300px;
  border: 2px dotted red;
  position: relative;
}

.focus {
  background-color: green;
}

.focusPort {
  border: 1px solid blue;
}

.positionFixed {
  position: fixed;
}

.roadmap-container {
  padding-top:40vh;
  padding-bottom:40vh;
}

.map-body {
  transition: all 400ms ease-in-out;
}

.transition-400ms {
  transition: all 400ms ease-in-out;
}

.timeline-marker {
  border-left: 4px #444 dotted;
  height: 100vh;
  position: absolute;
  top: 120%;
  left: -2px;
}

/* .timeline-header {
  border: 1px
} */

.timeline-flag {
  border-left: 6px solid rgba(0, 102, 255, 0.76);
  height:100vh;
  position:absolute;
  top:30px;
  /* opacity:0.8; */
  margin-left:-6px;
}

.timeline-flag-label {
  width: fit-content;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  bottom: 0;
  background-color: rgba(0, 102, 255, 0.76);;
  color: white;
  padding-left:0px;
  /* left: 6px;; */
}

.release-date {
  margin-top: -10px;
  padding-left: 0px;
  font-weight: 600;
  font-size: smaller;
  margin-bottom: 5px;
}

.flag {
  background-color: white;
  color: black;
}

.absolutely-positioned {
  position: relative;
  top:0px;
}

.control-panel {
  width: '400px';
  background-color: black!important;
  border-radius: 5px;
  padding: 10px;
  color: white!important;
}

.feature-name {
  text-decoration: none;
  color: #ccc;
  font-size: 1em;
}

.feature-name:hover {
  text-decoration: underline;
}

.line-item-name {
  text-decoration: none;
  color: #ccc;
  font-size: 0.9em;
  top: -5px;
  position: relative;
  line-height: 0.90em;
  font-style: italic;
}

.line-item-name:hover {
  text-decoration: underline;
}

.release-card {
  border-radius: 5px!important;
  background-color: #000!important;
  border: 1px solid #222!important;
  color: #ccc;
  position: relative;
}

.foreground-color {
  color: #ccc;
}

#triangle-right {
  width: 0;
  height: 0;
  border-top: 30px solid transparent;
  border-left: 15px solid rgba(0, 102, 255, 0.76);
  border-bottom: 28px solid transparent;
  position: absolute;
  left: 100%;
  top: 0px;
}